*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.para{
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}

/*
relative
absolute
fixed
static
sticky
*/
.main-div{
    width: 500px;
    height: 500px;
    background-color: rgb(71, 129, 184);
    position: relative;
    top: 30px;
    left: 50px;
    overflow: hidden;
}
.main-div .child-div{
    width: 300px;
    height: 300px;
    background-color: rgb(184, 49, 56);
    position: absolute;
    top: 400px;
}


.btn{
    padding: 10px;
    background-color: #f00;
    color: #fff;
    font: bold;
    cursor: pointer;
    /* position: fixed;
    top: 100px;
    left: 0px; */

    position: sticky;
    top: 0px;
}