*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parant{
    position: relative;
}
.animation{
    width: 100px;
    height: 100px;
    background-color: #2c2d8f;
    animation-name: example;
    animation-duration: 4s;
    animation-delay:2s;
    position: absolute;
    animation-iteration-count: 3;
    animation-direction:alternate-reverse;
}

@keyframes example{
    0%{background-color: red; left: 0px; top: 0px;}
    25%{background-color: blue; left: 500px; top: 0px;}
   50%{background-color: yellow; left: 500px; top: 500px;}
   75%{background-color: yellow; left: 0px; top: 500px;}
  100%{background-color: yellow; left: 0px; top: 0px;}
}