
/* Headser Part CSS */

h1{
    color:green;  
  }

.heading{
    color: yellow;
}


.heading2{
    color: tomato;
    background-color: #2e2c2d;
    margin-left: 50px;
    padding: 30px;
}


.heading3{
    color: white;
    background-color: #000;
    padding: 30px;
    margin: 20px;
    border: 3px solid red;
}

#heading{
    color: red;
    background-color: blue;
    margin-bottom: 50px;
}

.custom-class{
    font-size: 60px;
    font-weight: bold;
}

.main-div{
   
    background-color: #2c2c2c;
    margin: 20px 30px 50px 100px;
    padding: 30px 20px;

}


.child-div{
    /* width: 300px;
    height: 300px; */
    background-color: #2e4d2e;
    
}


.main-div .child-div> h1{
    color:red;
}